body {
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  font-family: "Segoe UI", sans-serif;
  color: #000;
}

.container {
  background: #e8dff5;
  /* max-width: 900px; */
  /* margin: 50px auto; */
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.445);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  /* margin-top: 20px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.445);
  padding: 15px;
  padding-bottom: 25px;
  background-color: #bfa4ff;
  border-radius: 20px;
}

.site-name {
  font-family: "Karantina", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
  background: linear-gradient(to right, #8844ff, #202020);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ff000000;
}

.action-button {
  background: black;
  color: white;
  padding: 16px 24px;
  border: none;
  border-radius: 32px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 15px;
}

.title {
  font-size: 40px;
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
  padding: 23px;
  margin-bottom: 0px;
  padding-bottom: 7px;
}

.subtitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 30px;
  padding: 0px 27px;
  margin: 0;
  font-weight: 600;
}

.video-wrapper {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 95%;
  display: flex;
  justify-content: space-around;
}

.video-wrapper img {
  width: 60%;
  display: block;
  border-radius: 25px;
}

.toggle-button {
  position: relative;
  z-index: 3;
  width: 70px;
  left: 48%;
  display: flex;
  gap: 15px;
  font-size: 22px;
  font-weight: 800;
  padding: 5px;
  margin-bottom: 10px;
  /* border: 2px solid purple; */
  width: 90px;
  /* overflow: hidden; */
}

.vehicle_counts p {
  font-size: 40px;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  margin-top: 0px;
  /* margin-right: 200px; */
}
.vehicle_counts ul {
  list-style: none;
  font-size: x-large;
  font-weight: bolder;
  padding-left: 13px;
}
.vehicle_counts {
  background-image: url("/static/images/background.webp");
  background-position: center;
  background-size: cover;
  color: white;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 25vw;
  border-radius: 50px;
  /* border: black 8px solid; */
  /* border-radius: 20px; */
  padding: 40px;
}
.change {
  font-size: larger;
  font-weight: 800;
}
.change select {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border: 1px solid #b29eff;
  background-color: #e3d4f9;
  color: #000000;
  font-size: 16px;
  font-weight: 800;
  border-radius: 9999px; /* full-rounded pill */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#change-video {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border: 1px solid #d6bbfb;
  background-color: #f9f5ff;
  color: #6941c6;
  font-size: 16px;
  font-weight: 800;
  border-radius: 9999px; /* full-rounded pill */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: absolute;

  left: 81%;
  bottom: 16%;
}
#change-video:hover {
  background-color: #f4ebff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* .outerbox{
    height: 40vh;
    width: 30vw;
    border: 2px solid black;
    display: flex;
    align-content: center;
   
    border-radius: 30px;
    width: 20vw;
    height: 35vh;
    
} */
